.mission .target {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.5rem;
}

.mission-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40vw;
	max-height: 50vh;
	background-color: var(--background);
	border: 0.0625rem solid var(--border);
	overflow-y: auto;
}

.mission-modal .confirm {
	padding: 0 1rem;
	text-align: center;
}

.mission-modal .words {
	margin: 2rem 0;
}

.mission-modal .button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
}

@media only screen and (max-width: 87.5rem) {
	.mission-modal {
		width: 50vw;
	}
}

@media only screen and (max-width: 50rem) {
	.mission-modal {
		width: 90vw;
		max-height: 75vh;
	}
}
