.content-box .menu {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu > * {
	padding: 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #aaa;
}

@media only screen and (max-width: 600px) {
	.content-box .menu {
		width: 90vw;
	}
}
