.content-box .menu {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu > * {
	padding: 1rem;
}

/** Menu header / title */
.menu .header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--grey-light);
}

.menu .header button {
	height: 2rem;
	width: 2rem;
	text-align: center;
}

.menu .header button svg {
	margin-right: 0;
}

.menu .header h2 {
	font-size: large;
	margin: 0;
}

@media only screen and (max-width: 1000px) {
	.content-box .menu {
		width: 100%;
	}
}
