.content-box .menu {
	height: 100%;
	width: 25vw;
	max-width: 17.5rem;
	display: flex;
	flex-direction: column;
}

.menu > * {
	padding: 1rem;
}

.menu > .header {
	padding: 0;
}

.menu > .header > * {
	padding: 1rem;
}

@media only screen and (max-width: 87.5rem) {
	.content-box .menu {
		width: 35vw;
	}
}

@media only screen and (max-width: 62.5rem) {
	.content-box .menu {
		width: 60vw;
	}
}

@media only screen and (max-width: 50rem) {
	.content-box .menu {
		width: 100%;
		max-width: 100%;
		max-height: 35vh;
	}
}
