.player-actions {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.player-actions .player-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.0625rem solid var(--border);
	padding: 1rem;
	padding-right: 0.75rem;
}

.player-actions .player-action span {
	font-weight: 500;
}

.player-actions .player-action .button {
	height: 2rem;
	width: 2rem;
	text-align: center;
}

.player-actions .player-action .button svg {
	margin-right: 0;
}

@media only screen and (max-width: 50rem) {
	.player-actions .player-action {
		padding-right: 1.3rem;
	}
}
