button {
	border: 0.0625rem solid var(--grey-dark);
	margin-top: 0.625em;
	border-radius: 0.3rem;
	font-size: 0.9rem;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	cursor: pointer;
	margin: 0.125rem;
	background-color: var(--grey-dark);
	color: var(--foreground-alt);
	border: none;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

button.primary {
	background-color: var(--primary);
	border-color: var(--primary);
}

button.blue {
	background-color: var(--blue);
	border-color: var(--blue);
}

button.green {
	background-color: var(--green);
	border-color: var(--green);
}

button.orange {
	background-color: var(--orange);
	border-color: var(--orange);
}

button.failed {
	background-color: var(--failure);
	border: 0.0625rem solid var(--failure);
}

button:disabled {
	background-color: var(--grey-light);
	border: 0.0625rem solid var(--grey-light);
	color: var(--grey-dark);
	cursor: default;
}

@media (prefers-color-scheme: dark) {
	button:disabled {
		background-color: var(--grey-dark);
		border: 0.0625rem solid var(--grey-dark);
		color: var(--grey-light);
		cursor: default;
	}
}
