:root {
	--primary: #f26671;
	--primary-light: #f2667235;
	--primary-dark: #681723;
	--grey-light: #e7e5e5;
	--grey-dark: #5e6472;
	--green: #52aa5e;
	--blue: #17acdd;
	--blue-dark: #107b9f;
	--blue-light: #17acdd35;
	--yellow: #feea00;
	--orange: #ff9f1c;
	--white: #fff;

	--success: #52aa5e;
	--failure: #db2955;
}
