:root {
  --primary: #F26671;
	--primary-light: #f2667235;
	--primary-dark: #681723;
	--grey-light: #E7E5E5;
	--grey-dark: #5E6472;
	--green: #52AA5E;
	--blue: #17ACDD;
	--blue-dark: #107b9f;
	--blue-light: #17acdd35;
	--yellow: #FEEA00;
	--orange: #FF9F1C;
	--white: #fff;

	--success: #52AA5E;
	--failure: #DB2955;
}
