@font-face {
	font-family: 'Flexo-Regular';
	src: url('https://pokedex.vlad.gg/fonts/flexo-regular.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-regular.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-regular.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Flexo-Bold';
	src: url('https://pokedex.vlad.gg/fonts/flexo-bold.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-bold.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-bold.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Flexo-Heavy';
	src: url('https://pokedex.vlad.gg/fonts/flexo-heavy.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-heavy.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-heavy.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-heavy.ttf') format('truetype');
}

* {
	transition: all 0.3s ease;
}

html,
.root {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Flexo-Regular', Roboto, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	background-image: url('/background.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

h1,
h2 {
	font-family: 'Flexo-Heavy', Roboto, Arial, Helvetica, sans-serif;
	text-align: center;
}

input[type='text'] {
	height: 1.5rem;
	outline: 0.1rem solid var(--grey-light);
	border: none;
	border-radius: 0.3rem;
	font-family: 'Flexo-Regular', Roboto, Arial, Helvetica, sans-serif;
}

input[type='text']:focus {
	outline: 0.2rem var(--blue) solid;
	border: none;
}

button {
	outline: 0.0625rem solid var(--grey-dark);
	margin-top: 0.625em;
	border-radius: 0.3rem;
	font-size: 0.9rem;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	font-family: 'Flexo-Heavy', sans-serif;
	cursor: pointer;
	margin: 0.125rem;
	background-color: var(--grey-dark);
	color: var(--white);
	border: none;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

button.primary {
	background-color: var(--primary-dark);
	outline-color: var(--primary-dark);
}

button.secondary {
	background-color: var(--blue);
	outline-color: var(--blue);
}

button.success {
	background-color: var(--success);
	outline-color: var(--success);
}

button.warning {
	background-color: var(--orange);
	outline-color: var(--orange);
}

button.failed {
	background-color: var(--failure);
	outline: 0.0625rem solid var(--failure);
}

button:disabled {
	background-color: var(--grey-light);
	outline: 0.0625rem solid var(--grey-light);
	color: var(--grey-dark);
	cursor: default;
}

strong {
	font-family: 'Flexo-Bold', Roboto, Arial, Helvetica, sans-serif;
}

a {
	color: var(--blue-dark);
	background-color: var(--blue-light);
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

a:hover {
	background-color: var(--blue);
	color: var(--white);
}

.error-boundary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-boundary .details {
	font-size: smaller;
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--grey-light);
	border-radius: 0.3rem;
}
