@font-face {
	font-family: 'Flexo-Regular';
	src: url('https://pokedex.vlad.gg/fonts/flexo-regular.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-regular.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-regular.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Flexo-Bold';
	src: url('https://pokedex.vlad.gg/fonts/flexo-bold.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-bold.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-bold.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Flexo-Heavy';
	src: url('https://pokedex.vlad.gg/fonts/flexo-heavy.eot');
	src: url('https://pokedex.vlad.gg/fonts/flexo-heavy.eot?#iefix') format('embedded-opentype'),
		url('https://pokedex.vlad.gg/fonts/flexo-heavy.woff') format('woff'),
		url('https://pokedex.vlad.gg/fonts/flexo-heavy.ttf') format('truetype');
}

:root {
  --primary: #F26671;
	--primary-dark: #681723;
	--grey-light: #E7E5E5;
	--grey-dark: #5E6472;
	--green: #52AA5E;
	--blue: #08B2E3;
	--yellow: #FEEA00;
	--orange: #FF9F1C;
	--white: #fff;

	--success: #52AA5E;
	--failure: #DB5461;
}

html,
.root {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Flexo-Regular', Roboto, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	background-image: url('/background.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

h1,
h2 {
	font-family: 'Flexo-Heavy', Roboto, Arial, Helvetica, sans-serif;
	text-align: center;
}

input[type='text'] {
	height: 1.5rem;
	border: 0.1rem solid var(--grey-light);
	border-radius: 0.3em;
	font-family: 'Flexo-Regular', Roboto, Arial, Helvetica, sans-serif;
}

button {
	outline: 1px solid var(--blue);
	margin-top: 0.625em;
	border-radius: 0.3em;
	font-size: 0.9rem;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	font-family: 'Flexo-Heavy', sans-serif;
	cursor: pointer;
	margin: 2px;
	background-color: var(--blue);
	color: var(--white);
	border: none;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

button.success {
	background-color: var(--success);
	outline-color: var(--success);
}

button.warning {
	background-color: var(--orange);
	outline-color: var(--orange);
}

button.failed {
	background-color: var(--failure);
	outline: 1px solid var(--failure);
}

button:disabled {
	background-color: var(--grey-light);
	outline: 1px solid var(--grey-light);
	color: var(--grey-dark);
	cursor: default;
}

strong {
	font-family: 'Flexo-Bold', Roboto, Arial, Helvetica, sans-serif;
}
