.error-field {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-field span {
	font-size: 1rem;
	font-family: 'Flexo-Regular', Arial, sans-serif;
}

.error-field > span {
	padding: 1rem;
	background: #f26671;
	border-radius: 0.5rem;
	color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	width: 80%;
}

.error-field svg {
	margin-right: 1rem;
}
