.section-title {
	padding: 1rem;
	margin: 0;
}

.section-title.primary {
	background-color: var(--primary-trans-50);
	color: var(--primary-dark);
	border-bottom-color: var(--primary-light);
}

.section-title.blue {
	background-color: var(--blue-trans-50);
	color: var(--blue-dark);
	border-bottom-color: var(--blue-light);
}

.section-title.green {
	background-color: var(--green-trans-50);
	color: var(--green-dark);
	border-bottom-color: var(--green-light);
}

.section-title.purple {
	background-color: var(--purple-trans-50);
	color: var(--purple-dark);
	border-bottom-color: var(--purple-light);
}

.section-title.orange {
	background-color: var(--orange-trans-50);
	color: var(--orange-dark);
	border-bottom-color: var(--orange-light);
}
