.section-title {
	padding: 1rem;
	margin: 0;
}

.section-title.primary {
	background-color: var(--primary-trans);
	color: var(--primary);
	border-bottom-color: var(--primary-light);
}

.section-title.blue {
	background-color: var(--blue-trans);
	color: var(--blue);
	border-bottom-color: var(--blue-light);
}

.section-title.green {
	background-color: var(--green-trans);
	color: var(--green);
	border-bottom-color: var(--green-light);
}

.section-title.purple {
	background-color: var(--purple-trans);
	color: var(--purple);
	border-bottom-color: var(--purple-light);
}

.section-title.orange {
	background-color: var(--orange-trans);
	color: var(--orange);
	border-bottom-color: var(--orange-light);
}
