.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--foreground);
}

.app button.theme {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 3rem;
	width: 3rem;
}

@media only screen and (max-width: 50rem) {
	html,
	body,
	.root,
	.app {
		overflow-y: hidden;
	}

	.app > h1 {
		display: none;
	}
}
