.wordlists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0.5rem;
}

.wordlists .text {
	margin-bottom: 0.5rem;
}

.wordlists .wordlist {
	background-color: var(--background);
	color: var(--foreground);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem !important;
	gap: 0.5rem;
	cursor: pointer;
}

.wordlists .wordlist.disabled {
	cursor: initial;
}

.wordlists .wordlist.selected .title {
	border-bottom-color: var(--green);
	color: var(--green);
}

.wordlists .wordlist .title {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
	padding: 1rem;
	padding-top: 0;
	border-bottom: 0.0625rem solid var(--border);
}

.wordlists .wordlist .description {
	padding-top: 0.5rem;
}

.wordlists .wordlist .words {
	font-size: 0.9rem;
	align-self: center;
}
