.num-words .input {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.num-words .input input {
	height: 2rem;
	width: 3.5rem;
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}

.wordlists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
	margin: 1rem 0;
}

.wordlists .text {
	margin-bottom: 0.5rem;
}

.wordlists .wordlist {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.wordlists .wordlist.disabled {
	cursor: initial;
}

.wordlists .wordlist.disabled .title {
	border-bottom-color: var(--disabled);
}

.wordlists .wordlist.selected .title {
	border-bottom-color: var(--blue);
}

.wordlists .wordlist.disabled {
	color: var(--disabled);
}

.wordlists .wordlist.selected {
	color: var(--blue);
}

.wordlists .wordlist .title {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 0;
	border-bottom: 0.0625rem solid var(--border);
}

.wordlists .wordlist .title .icon {
	padding-left: 1rem;
}

.wordlists .wordlist .title .name {
	flex: 1 1 auto;
	text-align: center;
}

.wordlists .wordlist .additional {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1rem;
	gap: 0.5rem;
	flex: 1 1 auto;
}

.wordlists .wordlist .description {
	text-align: center;
	padding-top: 0.5rem;
	flex: 1 1 auto;
}

.wordlists .wordlist .words {
	font-size: 0.9rem;
	align-self: center;
}

@media only screen and (max-width: 87.5rem) {
	.wordlists .MuiCard-root {
		width: 40%;
	}
}

@media only screen and (max-width: 62.5rem) {
	.wordlists .MuiCard-root {
		width: 100%;
	}
}

@media only screen and (max-width: 50rem) {
	.wordlists {
		justify-content: center;
	}

	.wordlists .wordlist .title {
		justify-content: center;
	}

	.wordlists .wordlist .words {
		padding-bottom: 0;
	}
}
