.mission .target {
	font-family: 'Special Elite', Roboto, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.5rem;
	padding-bottom: 0;
}

.mission-modal .confirm {
	padding: 0 1rem;
	text-align: center;
}
.mission-modal .button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
}
