.wordlist-description {
	display: flex;
	flex-direction: row;
}

.wordlist-description span {
	flex: 1 1 auto;
}

.wordlist-words {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	padding: 1.5rem;
}
