.error-boundary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-boundary .details {
	font-size: smaller;
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--grey-light);
	border-radius: 0.3rem;
}

.error-field {
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-field span {
	font-size: 1rem;
	font-family: 'Barlow', Roboto, Arial, Helvetica, sans-serif;
}

.error-field > span {
	padding: 1rem;
	background: var(--failure);
	border-radius: 0.5rem;
	color: white;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.error-field .message {
	margin: 0 1.5rem;
}

.error-field.bottom {
	margin-bottom: 1rem;
	position: absolute;
	bottom: 0;
}

@media only screen and (max-width: 50rem) {
	.error-field.bottom {
		width: 90%;
		bottom: 1rem;
	}
}
