.menu .admin-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem 0;
	border-bottom: 0.0625rem solid var(--grey-light);
}

.menu .admin-actions button {
	flex: 1 1 auto;
}

.menu svg {
	margin-right: 0.75rem;
}

.menu .player-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	border-bottom: 0.0625rem solid var(--grey-light);
}

.menu .buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.menu input[type='text'] {
	height: 2rem;
	text-align: center;
	font-size: 1rem;
}

.menu .player-list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0;
	overflow-y: overlay;
}

.menu .player-list h3 {
	margin: 0.5rem;
}

.menu .player-list .player {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem;
}

.menu .error-field {
	align-items: end;
	padding-bottom: 1rem;
	align-self: stretch;
}

.content-box .player-info {
	height: 100%;
	border-left: 0.0625rem solid var(--grey-light);
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow-y: overlay;
}

.player-info .info {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.player-info .target,
.player-info .words {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 2.5rem;
}

.player-info .words span {
	font-size: 1.5rem;
	font-family: 'Flexo-Bold', Roboto, Arial, Helvetica, sans-serif;
}

.target label,
.words label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.target span,
.words span {
	display: block;
	font-size: 2rem;
	font-family: 'Barlow', Roboto, Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.player-info svg {
	margin-right: 0.5rem;
}

@media only screen and (max-width: 62.5rem) {
	.menu .player-list {
		height: 15vh;
		max-height: 25vh;
	}

	.content-box .player-info {
		border-left: none;
		border-top: 0.0625rem solid var(--grey-light);
		margin-left: 0;
	}

	.player-info .target,
	.player-info .words {
		padding-bottom: 1rem;
	}
}
