.menu .status {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	border-bottom: 1px solid #aaa;
}

.menu .status .label {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #aaa;
	color: white;
	padding: 0 1.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	font-size: 1.25rem;
}

.menu .status .label.not-ready {
	border: 1px solid #f26671;
	color: #f26671;
	background-color: white;
}

.menu .status .label.ready {
	border: 1px solid #4dae5b;
	color: #4dae5b;
	background-color: white;
}

.menu .status .label.started {
	background-color: #4dae5b;
	color: white;
}

.menu .status span {
	padding-bottom: 0.5rem;
}

.menu .admin-actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem 0;
	border-bottom: 1px solid #aaa;
}

.menu .admin-actions button {
	flex: 1 1 auto;
}

.menu svg {
	margin-right: 0.75rem;
}

.menu .player-actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	border-bottom: 1px solid #aaa;
}

.menu .buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.menu .buttons button {
	width: 100%;
}

.menu input[type='text'] {
	width: 100%;
	height: 2rem;
	text-align: center;
	font-size: 1rem;
}

.menu .player-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0;
	overflow-y: scroll;
	max-height: 25vh;
}

.menu .player-list h3 {
	margin: 0.5rem;
}

.menu .player-list .player {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem;
}

.menu .error-field {
	align-items: end;
	padding-bottom: 1rem;
}

.content-box .player-info {
	margin-left: 2rem;
	padding: 1rem;
	height: 90%;
	border-left: 1px solid #aaa;

	display: grid;
	grid-template-rows: 7fr 1fr;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
}

.player-info > div {
	width: 100%;
}

.player-info .no-selection {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: 1fr;
	max-height: 100%;
}

.player-info .no-selection .step {
	display: grid;
	grid-template-columns: 1fr 7fr;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.player-info .no-selection .step h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.player-info .no-selection .step .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.player-info .target,
.player-info .words {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 2.5rem;
}

.player-info .words span {
	font-size: 1.5rem;
	font-family: 'Flexo-Bold', Roboto, Arial, Helvetica, sans-serif;
}

.player-info label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.player-info span {
	display: block;
	font-size: 2rem;
	font-family: 'Flexo-Heavy', Roboto, Arial, Helvetica, sans-serif;
}

.player-info svg {
	margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
	.content-box .menu {
		width: 90vw;
	}

	.menu .player-list {
		height: 15vh;
	}

	.content-box .player-info {
		border-left: none;
		border-top: 1px solid #aaa;
		margin-left: 0;
	}

	.player-info .target,
	.player-info .words {
		padding-bottom: 1rem;
	}
}
