.player-list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
	overflow-y: overlay;
}

.player-list .header {
	background-color: var(--background);
}

.player-list .header h3 {
	margin-left: 1rem;
}

.player-list .header > * {
	margin: 0.75rem;
}

.player-list .player {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem 1.5rem;
}

.player-list .player span {
	flex: 1 1 auto;
}

.player-list .player svg {
	flex: 0 0 15%;
}

.player-list .player.primary {
	background-color: var(--primary-light);
	color: var(--primary);
}

.player-list .player.blue {
	background-color: var(--blue-light);
	color: var(--blue-dark);
}

.player-list .player.green {
	background-color: var(--green-light);
	color: var(--green-dark);
}

.player-list .player.purple {
	background-color: var(--purple-light);
	color: var(--purple-dark);
}

.player-list .player.orange {
	background-color: var(--orange-light);
	color: var(--orange-dark);
}

@media only screen and (max-width: 50rem) {
	.player-list .header .right-actions {
		margin: 1rem;
	}

	.player-list .header .right-actions .button {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.player-list .player {
		padding: 1rem 2.125rem;
	}
}
