:root {
	--primary: #8a2131;
	--primary-light: #f2667235;
	--primary-dark: #21080c;

	--grey-light: #e7e5e5;
	--grey-dark: #5e6472;

	--green: #52aa5e;
	--green-light: #52aa5e35;
	--green-dark: #356e3d;

	--blue: #17acdd;
	--blue-light: #17acdd35;
	--blue-dark: #107b9f;

	--purple: #ba4bd6;
	--purple-light: #ba4bd635;
	--purple-dark: #9b2ab7;

	--orange: #ff9f1c;
	--orange-light: #ff9f1c35;
	--orange-dark: #cc7700;

	--yellow: #fdca40;
	--yellow-light: #fdca4035;
	--yellow-dark: #b78601;

	--white: #fff;
	--black: #000;

	--background: var(--white);
	--foreground: var(--black);
	--foreground-alt: var(--white);
	--border: var(--grey-light);

	--success: var(--green);
	--failure: #db2955;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #FF8597;
		--primary-light: #8a213135;
		--primary-dark: #db6b7c;

		--grey-light: #e7e5e5;
		--grey-dark: #5e6472;

		--green: #89d291;
		--green-light: #52aa5e25;
		--green-dark: #7acd84;

		--blue: #68d0f3;
		--blue-light: #17acdd25;
		--blue-dark: #55caf1;

		--purple: #d99be8;
		--purple-light: #ba4bd625;
		--purple-dark: #c669dd;

		--orange: #ffc370;
		--orange-light: #ff9f1c25;
		--orange-dark: #ffb347;

		--yellow: #fede86;
		--yellow-light: #fdca4025;
		--yellow-dark: #fdcd49;

		--background: #3a2d2d;
		--foreground: var(--grey-light);
		--foreground-alt: var(--black);
		--border: var(--grey-dark);

		--failure: #ffa3ba;
	}
}
