.app {
	--primary: #8a2131;
	--primary-trans: #f2667235;
	--primary-light: #f3ced5;
	--primary-dark: #631823;
	--primary-darker: #421017;

	--grey-light: #ede9e9;
	--grey-dark: #5a4949;
	--grey-darker: #382e2e;

	--green: #52aa5e;
	--green-trans: #52aa5e35;
	--green-light: #badebe;
	--green-dark: #356e3d;
	--green-darker: #214526;

	--blue: #17acdd;
	--blue-trans: #17acdd35;
	--blue-light: #b5e7f8;
	--blue-dark: #107b9f;
	--blue-darker: #0b566f;

	--purple: #ba4bd6;
	--purple-trans: #ba4bd635;
	--purple-light: #e6bcf0;
	--purple-dark: #9b2ab7;
	--purple-darker: #701e85;

	--orange: #ff9f1c;
	--orange-trans: #ff9f1c35;
	--orange-light: #ffddad;
	--orange-dark: #cc7700;
	--orange-darker: #8f5300;

	--yellow: #fdca40;
	--yellow-trans: #fdca4035;
	--yellow-light: #ffe9ae;
	--yellow-dark: #b78601;
	--yellow-darker: #7a5901;

	--white: #fff;
	--black: #000;

	--background: var(--white);
	--foreground: var(--grey-darker);
	--foreground-alt: var(--white);
	--border: var(--grey-light);
	--disabled: var(--grey-light);

	--success: #32853c;
	--success-dark: #27682f;
	--failure: #cc0033;
	--failure-dark: #a30029;
	--warning: #c77400;
	--warning-dark: #a35f00;
	--notification-foreground: var(--white);
}

@media (prefers-color-scheme: dark) {
	.app.dark {
		--primary: #ff8597;
		--primary-trans: #8a213135;
		--primary-dark: #ff4763;
		--primary-darker: #731c29;

		--grey-light: #dad2d2;
		--grey-dark: #5a4949;
		--grey-darker: #2e2626;

		--green: #89d291;
		--green-trans: #52aa5e25;
		--green-dark: #5cc168;
		--green-darker: #28532d;

		--blue: #68d0f3;
		--blue-trans: #17acdd25;
		--blue-dark: #2fbeee;
		--blue-darker: #0b566f;

		--purple: #d99be8;
		--purple-trans: #ba4bd625;
		--purple-dark: #c669dd;
		--purple-darker: #701e85;

		--orange: #ffc370;
		--orange-trans: #ff9f1c25;
		--orange-dark: #ffaa33;
		--orange-darker: #8f5300;

		--yellow: #fede86;
		--yellow-trans: #fdca4025;
		--yellow-dark: #fdcd49;
		--yellow-darker: #8e6801;

		--background: var(--grey-darker);
		--foreground: var(--grey-light);
		--foreground-alt: var(--grey-darker);
		--border: var(--grey-dark);
		--disabled: var(--grey-dark);
	}
}
