.app {
	--primary: #8a2131;
	--primary-light: #f2667235;
	--primary-dark: #631823;

	--grey-light: #ede9e9;
	--grey-dark: #5a4949;
	--grey-darker: #382e2e;

	--green: #52aa5e;
	--green-light: #52aa5e35;
	--green-dark: #356e3d;

	--blue: #17acdd;
	--blue-light: #17acdd35;
	--blue-dark: #107b9f;

	--purple: #ba4bd6;
	--purple-light: #ba4bd635;
	--purple-dark: #9b2ab7;

	--orange: #ff9f1c;
	--orange-light: #ff9f1c35;
	--orange-dark: #cc7700;

	--yellow: #fdca40;
	--yellow-light: #fdca4035;
	--yellow-dark: #b78601;

	--white: #fff;
	--black: #000;

	--background: var(--white);
	--foreground: var(--grey-darker);
	--foreground-alt: var(--white);
	--border: var(--grey-light);

	--success: #32853C;
	--failure: #cc0033;
	--warning: #C77400;
	--notification-foreground: var(--white);
}

@media (prefers-color-scheme: dark) {
	.app.dark {
		--primary: #ff8597;
		--primary-light: #8a213135;
		--primary-dark: #cf3a50;

		--grey-light: #dad2d2;
		--grey-dark: #5a4949;
		--grey-darker: #2e2626;

		--green: #89d291;
		--green-light: #52aa5e25;
		--green-dark: #7acd84;

		--blue: #68d0f3;
		--blue-light: #17acdd25;
		--blue-dark: #55caf1;

		--purple: #d99be8;
		--purple-light: #ba4bd625;
		--purple-dark: #c669dd;

		--orange: #ffc370;
		--orange-light: #ff9f1c25;
		--orange-dark: #ffb347;

		--yellow: #fede86;
		--yellow-light: #fdca4025;
		--yellow-dark: #fdcd49;

		--background: var(--grey-darker);
		--foreground: var(--grey-light);
		--foreground-alt: var(--grey-darker);
		--border: var(--grey-dark);
	}
}
