.notification {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 35rem;
}

.notification span {
	font-size: 1rem;
	font-family: 'Barlow', Roboto, Arial, Helvetica, sans-serif;
}

.notification > span {
	width: 100%;
	padding: 1rem;
	background: var(--background);
	color: var(--foreground);
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 5fr;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.notification.failed > span {
	background: var(--failure);
	color: var(--notification-foreground);
}

.notification.success > span {
	background: var(--green-dark);
	color: var(--foreground-alt);
}

.notification.warning > span {
	background: var(--orange-dark);
	color: var(--foreground-alt);
}

.notification .icon {
	margin-right: 1rem;
}

.notification .message {
	flex: 1 1 auto;
}

.notification .close {
	margin-left: 1.5rem;
	cursor: pointer;
}

@media only screen and (max-width: 62.5rem) {
	.notification {
		max-width: 90vw;
	}
}
