.header-wrapper {
	width: 100%;
	background-color: var(--background);
	border-bottom: 0.0625rem solid var(--border);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.header.corner-left,
.header-wrapper.corner-left {
	border-top-left-radius: 1rem;
}

.header.corner-right,
.header-wrapper.corner-right {
	border-top-right-radius: 1rem;
}

.header.primary {
	background-color: var(--primary-light);
	color: var(--primary-dark);
}

.header.blue {
	background-color: var(--blue-light);
	color: var(--blue-dark);
}

.header.green {
	background-color: var(--green-light);
	color: var(--green-dark);
}

.header.purple {
	background-color: var(--purple-light);
	color: var(--purple-dark);
}

.header.orange {
	background-color: var(--orange-light);
	color: var(--orange-dark);
}

.header > * {
	margin: 1rem;
}

.header.no-border {
	border: 0;
}

.header .left-actions,
.header .right-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.header.with-icon h3 {
	margin-left: 0;
}

.header h3 {
	flex: 1 1 auto;
}

.header.center h3 {
	text-align: center;
}

.header .button {
	height: 2rem;
	width: 2rem;
	text-align: center;
}

.header .button svg {
	margin-right: 0;
}

@media only screen and (max-width: 50rem) {
	.header > * {
		margin: 1.5rem;
	}

	.header .left-actions,
	.header .right-actions {
		margin: 1.5rem;
	}
}
