.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 0.0625rem solid var(--border);
	position: sticky;
	top: 0;
}

.header > * {
	margin: 1rem;
}

.header.no-border {
	border: 0;
}

.header .left-actions,
.header .right-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header h3 {
	flex: 1 1 auto;
}

.header.center h3 {
	text-align: center;
}

.header button {
	height: 2rem;
	width: 2rem;
	text-align: center;
}

.header button svg {
	margin-right: 0;
}

@media only screen and (max-width: 50rem) {
	.header > * {
		margin: 1.5rem;
	}

	.header .left-actions,
	.header .right-actions {
		margin: 1.5rem;
	}
}
