.room-status {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: 0.0625rem solid var(--grey-light);
	background-color: var(--white);
	color: var(--grey-dark);
	height: 2rem;
	width: 2rem;
	border-radius: 0.5rem;
	font-size: 1.25rem;
}

.room-status svg {
	margin: 0;
}

.room-status.orange {
	outline-color: var(--orange);
	color: var(--orange);
}

.room-status.blue {
	outline-color: var(--blue);
	color: var(--blue);
}

.room-status.green {
	outline-color: var(--green);
	color: var(--green);
}
